body {
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    background: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 30px; /* Increased padding at the bottom */
}

h1 {
    color: #333;
    margin-bottom: 30px; /* Space below the header */
}

.scoreboard {
    text-align: right;
    font-size: 1.2em;
    color: #4CAF50;
    margin-bottom: 30px; /* Space below the scoreboard */
}

input[type="text"], input[type="file"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px; /* Space below the input fields */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    color: #fff;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Space below the buttons */
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px; /* Space below the list */
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background: #eee;
    border-radius: 5px;
    text-align: left;
}

.task-text {
    flex-grow: 1; /* Makes the text take up the remaining space */
}

.buttons {
    /* Group for delete and complete buttons */
    display: flex;
    justify-content: flex-end;
}

button.delete, button.complete {
    margin-left: 10px;
    font-size: 1.2em; /* Increase the size of the buttons */
    padding: 5px 10px; /* Larger padding for a bigger button */
}

button.delete:hover {
    color: #d9534f;
}

button.complete:hover {
    color: #1332bb;
}

.completed-tasks {
    margin-top: 30px;
}

.completed-tasks h2 {
    margin-bottom: 20px; /* Space below the 'Completed' header */
}

label {
    margin-right: 10px;
    color: #333;
    margin-bottom: 10px; /* Space below each label */
}

input[type="radio"] {
    margin-right: 5px;
}
